  <td id="<%= dom_id person %>">
    <strong>Name:</strong>
    <%= person.name %>
  </td>

  <td>
    <strong>Email:</strong>
    <%= person.email %>
  </td>

  <td>
    <strong>Birthday:</strong>
    <%= person.birthday %>
  </td>

  <td>
    <strong>Zip:</strong>
    <%= person.zip %>
  </td>

